sudo apt-get install qt5-default pyqt5-dev pyqt5-dev-tools vim libgpiod-dev
sudo pip3 install adafruit-circuitpython-dht

https://www.waveshare.com/wiki/RPi_Relay_Board
https://tinkerboarding.co.uk/wiki/index.php/GPIO
